.sm {
    font-size: 14px;
}
.md {
    font-size: 16px;
}
.lg {
    font-size: 18px;
}
.xlg {
    font-size: 20px;
}
.light {
    font-weight: 300;
}
.regiular {
    font-weight: 400;
}
.bold {
    font-weight: 700;
}