.pagenation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4px;
}
.pagenation .btn {
  width: 40px;
  height: 40px;
}
.pagenation .pages {
  display: flex;
  align-items: center;
  gap: 4px;
}
