.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 200px;
    border-bottom: 1px solid #dfdfdf;
}
.header .left {
    display: flex;
    align-items: center;
    gap: 32px;
}
.header .left .logo  {
    display: flex;
    align-items: center;
    height: 70px;
}
.header .left .menus {
    display: flex;
}
.header .left .menus .menu {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    padding-inline: 15px;
    font-size: 18px;
    font-weight: 700;
    color: #4b5563;
}

@media (max-width: 1024px) {
    .header {
        padding-inline: 24px;
    }
    .header .left {
        gap: 20px;
    }
   
  }
  @media (max-width: 768px) {
    .header .left .logo  {
       width: 120px;
    }
    .header .left .menus {
        gap: 8px;
    }
    
    .header .left .menus .menu {
        padding-inline: 0;
        font-size: 16px;
    }
  }